@using bookStore.ViewModels
@model List<BookVM>
@{
    ViewData["Title"] = "Home Page";
}
@section Title {
Book Store
}

<div class="container">
    <div class="row">
        @foreach (var book in Model)
        {
            <div class="col-md-4 col-sm-6 mb-4">
                <div class="card h-100">
                    <img src="~/image/Books/@book.imageURL" class="card-img-top" alt="@book.Title" style="height: 200px; object-fit: cover;">
                    <div class="card-body d-flex flex-column">
                        <h5 class="card-title">@book.Title</h5>
                        <p class="card-text flex-grow-1">@book.Description</p>
                        <a href="#" class="btn btn-primary mt-auto">Buy</a>
                    </div>
                </div>
            </div>
        }
    </div>
</div>

<style>
    .card-img-top {
        width: 100%;
        height: auto;
    }

    .card-body {
        display: flex;
        flex-direction: column;
    }
</style>
