@using bookStore.ViewModels
@model BookFormVM

@section Title {
Books
}
@section SubTitle {
Create
}

<form asp-controller="Books" asp-action="Create" enctype="multipart/form-data">
    <div class="card-body">
        <div class="form-group">
            <label asp-for="Title"></label>
            <input type="text" class="form-control" asp-for="Title" />
            <span asp-validation-for="Title" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="AuthorId"></label>
            <select asp-for="AuthorId" class="form-control" asp-items="@Model.Authors"></select>
            <span asp-validation-for="AuthorId" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="Publisher"></label>
            <input type="text" class="form-control" asp-for="Publisher" />
            <span asp-validation-for="Publisher" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="PublisherDate"></label>
            <input type="date" class="form-control" asp-for="PublisherDate" />
            <span asp-validation-for="PublisherDate" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="ImageUrl"></label>
            <input type="file" class="form-control" asp-for="ImageUrl" />
            <span asp-validation-for="ImageUrl" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="Description"></label>
            <input type="text" class="form-control" asp-for="Description" />
            <span asp-validation-for="Description" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="SelectedCategories"></label>
            <select asp-for="SelectedCategories" class="form-control" asp-items="@Model.Categories"></select>
            <span asp-validation-for="SelectedCategories" class="text-danger"></span>
        </div>
    </div>
    <div class="card-footer d-flex justify-content-center">
        <button type="submit" class="btn btn-primary ">Submit</button>
    </div>
</form>